extends layout

block content

  if todo.length
    table
      tr
        th Name
        th Email
      each todo in todo
        tr
          td= todo.name
          td= todo.description
          td= todo.status
  else
    p No registrations yet :(