<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Todo List-App
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    script(src="https://kit.fontawesome.com/a076d05399.js")

  body
    .header

    .container
      .row
        block content

    script(src='/assets/js/jquery-3.5.1.min.js')
    script(src='/assets/js/popper.min.js')
    script(src='/assets/js/bootstrap.min.js')